footer.footer
  .content
    img(src="/images/footer-pattern.svg", alt="").footer-pattern
    .row.row--sb-center
      img(src="/images/theatre-logo.svg", alt="")
      .row.row--mw-648
        a(href="#").link.link--mr-r--60 Правовые документы
        a(href="#").link.link--mr-r--60 Галерея
        a(href="#").link Контакты
    .row.row--fd-rr
      .col--mw-648
        .text.text--inter-defolt 299011, г. Севастополь, бульвар Исторический, д. 1
        a(href="").text--inter-defolt Схема проезда
    .row.row--sb-center.abs
      .footer-inf 2020 © Севастопольский театр оперы и балета 
      .footer-social
        .footer-social--fb
        .footer-social--vk
        .footer-social--inst
        .footer-social--yt
        
