header.header-white
  .burger-menu
    .menu-col
      a(href="#").header__link
        |Правовые документы
      a(href="#").header__link
        | Галерея
      a(href="#").header__link
        | Контакты
      .header__item
        img(src="/images/header/eye.svg", alt="").header__eye
        a(href="#").header__link Для слабовидящих

  .content
    .row.row--sb-center
      .burger-btn
        span
        span
        span
      .header__search-mobile
        img(src="/images/header/search.svg", alt="поиск")
      .row.row--sb-center.row--hg--80.row--none
        .header__item.header__search
          img(src="/images/header/search.svg", alt="поиск")
        .header__item
          img(src="/images/header/eye.svg", alt="").header__eye
          a(href="#").header__link Для слабовидящих
      .header__logo
        img(src="/images/theatre-logo.svg", alt="").header__logo
      .header__item
        a(href="#").header__link.header__link--mr-r--60
          |Правовые документы
        a(href="#").header__link.header__link--mr-r--60
          | Галерея
        a(href="#").header__link
          | Контакты