include ../mixins/mixins

.search
  .content
    .search-conteiner
      .search-close
      input(type='text', placeholder='Поиск', name='s').search-input
      +lilac-btn-180('Поиск')
      .search-close.search-close--mobile

header.header
  
  .burger-menu
    .menu-col
      a(href="#").link
        |Правовые документы
      a(href="#").link
        | Галерея
      a(href="#").link
        | Контакты
      .header__item
        img(src="./images/header/eye.svg", alt="").header__eye
        a(href="#").link.specialButton Для слабовидящих
        //- <a id="specialButton" href="#"><img src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" /></a>

  .content
    .row.row--sb-center
      .burger-btn
        span
        span
        span
      .header__search.header__search-mobile
        img(src="./images/header/search.svg", alt="поиск").white
        img(src="./images/header/search-black.svg", alt="поиск").black
      .row.row--sb-center.row--hg--80.row--none
        .header__item.header__search
          img(src="./images/header/search.svg", alt="поиск").white
          img(src="./images/header/search-black.svg", alt="поиск").black
        .header__item
          img(src="./images/header/eye.svg", alt="").white.header__eye
          img(src="./images/header/eye-black.svg", alt="").black.header__eye
          a(href="#").link.link-b.specialButton#specialButton Для слабовидящих
      a(href="#").header__logo
        img(src="./images/theatre-logo.svg", alt="").white
        img(src="./images/theatre-logo-black.svg", alt="").black
      .header__item
        a(href="#").link.link-b.link--mr-r--60
          |Правовые документы
        a(href="#").link.link-b.link--mr-r--60
          | Галерея
        a(href="#").link.link-b
          | Контакты