.modal
  .modal__wrapper
    .modal__wrapper-close
    .swiper-container.modal__gallery-top
      .swiper-wrapper
        .swiper-slide.gallery-top-slide
          img(src="./images/gallery-prev.png", alt="")
          .text.text--regal24-14 Севастопольский театр оперы и балета
            br
            | запускает новую программу
        .swiper-slide.gallery-top-slide
          img(src="./images/gallery-prev.png", alt="")
          .text.text--regal24-14 Севастопольский театр оперы и балета
            br
            | запускает новую программу
        .swiper-slide.gallery-top-slide
          img(src="./images/gallery-prev.png", alt="")
          .text.text--regal24-14 Севастопольский театр оперы и балета
            br
            | запускает новую программу
    .swiper-container.modal__gallery-thumbs
      .swiper-wrapper
        .swiper-slide.gallery-thumbs-slide
          img(src="./images/gallery-prev.png", alt="")
        .swiper-slide.gallery-thumbs-slide
          img(src="./images/gallery-prev.png", alt="")
        .swiper-slide.gallery-thumbs-slide
          img(src="./images/gallery-prev.png", alt="")