.footer {
  position: relative;
  min-height: 374px;
  margin-top: 135px;
  padding: 110px 0 80px;
  background-image: url("../images/footer-fon.svg");
  background-size: cover;
  color: white;

  // @media (max-width: 768px){
  //   .row--sb-center {
  //     flex-direction: column;

  //     .row {
  //       flex-direction: column;
  //     }
  //   }
  // }

  @media (max-width: 950px) {
    padding-top:80px;
    min-height: 715px;

    .footer-logo {
      height: 75px;
      margin-bottom: 60px;
    }
    .row {
      display: block;
    }
    .content {
      width: 400px;
      margin: 0 auto;
    }
    .link {
      display: block;
      margin-bottom: 20px;
    }
    .rr {
      display: flex;
    }
    .footer-social {
      margin-bottom: 60px;
    }
    .footer-inf {
      font-size: 12px;
    }
  }
  @media (max-width: 400px) {
    .content {
      width: 300px;
    }
    .footer-logo {
      height: 60px;
    }
  }

  &-pattern {
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 0;
    bottom: 0;
  }
  .row--mw-648 {
    max-width: 750px;
    width: 100%;
    justify-content: start;
    z-index: 1;
    @media (max-width: 1280px){
      max-width: 525px;
    }
    @media (max-width: 950px){
      max-width: 260px;
    }
  }

  .col--mw-648 {
    max-width: 750px;
    width: 100%;
    justify-content: start;
    z-index: 1;
    @media (max-width: 1280px){
      max-width: 525px;
    }

    a {
      text-decoration-line: underline;
    }
  }
  .text {
    margin: 56px 0 10px;
    z-index: 1;
    // @media (max-width: 768px){
    //   margin: 40px 0 10px;
    // }
  }

  &-inf {
    font-size: 14px;
    line-height: 160%;
    color: #B5C3DC;
  }
  
  &-social {
    max-width: 750px;
    width: 100%;
    display: flex;
    z-index: 1;
    margin-bottom: 30px;
    @media (max-width: 1280px){
      max-width: 525px;
    }

    .item {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid white;
      transition: all $ease-main;
      margin-right: 10px;
      
      path {
        transition: all $ease-main;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: white;
        path {
          fill: #5C77A6;
        }
      }
    }
  }
  &-logo {
    height: 48px;
    margin-top: 25px;
  }
  .abs {
    position: absolute;
    bottom: 27px;
    right: 62px;
    left: 60px;
    align-items: flex-start;
    flex-direction: column-reverse;

    @media (max-width: 1280px){
      right: 40px;
      left: 40px;
    }
    @media (max-width: 1150px){
      right: 20px;
      left: 20px;
    }
    @media (max-width:950px) {
        display: flex;
        flex-direction: column-reverse;
        width: 360px;
        margin: 0 auto;
        align-items: start;
        margin-top: 60px;
    }
    @media (max-width: 400px) {
      width: 300px;
    }
  }

  .link {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-right: 40px;
    @media (max-width: 1280px){
      font-size: 20px;
    }
    @media (max-width: 950px){
      display: inline-block;
      margin-right: 45px;
    }
  }

}