extends ../layouts/default.pug

block variables
 -var pageTitle='Контакты'

block header
  include ../modules/header

block content

  .contact__wrapp
    .content
      .title.title--page(data-aos='fade-up') Контакты
      .row.row--jc-sb.fst
        .contact__wrapp-conteiner(data-aos='fade-up')
          .row 
            .col
              .contact__wrapp-tooltip
                img(src="./images/pin.svg", alt="")
            .col
              .title.title--inter40-16 299011, г. Севастополь, бульвар Исторический, д. 1
              a(href="#").text.text--inter16-12.text--lilac Схема проезда
          .row.row--aln-c
            .contact__wrapp-tooltip
              img(src="./images/mail.svg", alt="")
            .col
              a(href="mailto:sevardt@sev.gov.ru").title.title--inter40-16 sevardt@sev.gov.ru
        .col-mw-616(data-aos='fade-up')
          .contact__wrapp-item
            .title.title--inter24-18 Приемная 
            .text.text--defolt Пояснение к данному блоку
            .row.row--aln-c
              .contact__wrapp-tooltip
                img(src="./images/phone.svg", alt="")
              a(href="tel:+7 8692 54-38-39").title.title--inter40-16.title--lilac +7 8692 54-38-39
          .contact__wrapp-item.contact__wrapp-item--mrg
            .title.title--inter24-18 Для писем и корреспонденции
            .text.text--defolt 115419, г. Москва, 2-й Верхний Михайловский пр., д. 9, этаж 4
          .contact__wrapp-item
            .title.title--inter24-18 По вопросам трудоустройства 
            .text.text--defolt hr@sev.gov.ru
            .row.row--aln-c.al-c
              .contact__wrapp-tooltip
                img(src="./images/hh.svg", alt="")
              .text.text--defolt Со списком открытых вакансий
                br
                | можно ознакомиться на 
                span
                  a(href="") hh.ru 

block footer
  include ../modules/footer