extends ../layouts/default.pug

block variables
 -var pageTitle='Галерея'

block header
  include ../modules/header

block content

  .gallery__wrap 
    .content
      .title.title--page(data-aos='fade-up') Галерея
      .gallery__wrap-content
        .gallery__wrap-item.gallery__wrap-item--first.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .row.row--jc-sb
            .col-fil
              img(src="./images/gallery-prev.png", alt="")
            .col
              .title.title--inter30-16 05.12.
              .title.title--regal40-18 Осуждение Фауста
          .col--mobile
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Осуждение Фауста
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev2.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev3.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Щелкунчик
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev4.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Свадьба Фигаро
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev5.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Так поступают все женщины, или Школа влюбленных
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Ариадна на Наксосе
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev6.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Джанни Скикки
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev7.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Дон Жуан, или Наказанный развратник
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev8.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Лазарь, или Торжество Воскрешения
        .gallery__wrap-item.js--modal(data-aos='fade-up', data-way="gallery-prev.png;gallery-prev1.png;gallery-prev1.png", data-description="Осуждение Фауста")
          .col-fil
            img(src="./images/gallery-prev9.jpg", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Юлий Цезарь и Клеопатра

        



block footer
  include ../modules/footer