extends ../layouts/default.pug

block variables
 -var pageTitle='Галерея'

 block header
  include ../modules/header

block content

  .gallery__wrap 
    .content
      .title.title--page Галерея
      .gallery__wrap-content
        .gallery__wrap-item.gallery__wrap-item--first
          .row.row--jc-sb
            .col-fil
              img(src="./images/gallery-prev.png", alt="")
            .col
              .title.title--inter30-16 05.12.
              .title.title--regal40-18 Осуждение Фауста
          .col--mobile
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Так поступают все женщины, или Школа влюбленных
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро
        .gallery__wrap-item
          .col-fil
            img(src="./images/gallery-prev1.png", alt="")
          .col
            .text.text--inter20-16 05.12.
            .text.text--regal20-16 Вертинский. Русский Пьеро

        



block footer
  include ../modules/footer