extends ../layouts/default.pug

block variables
 -var pageTitle='Страница спектакля'

 block header
  include ../modules/header

block content
  .perfom__inform
    .content
      .row.row--jc-sb
        .title.title--page Осуждение Фауста
        .title.title--age 16+
      .row.row--jc-sb.jcb-mob
        .col--mw-1080
          .text.text--inter20-16
            | В столетней истории Музыкального театра не было десятилетия, чтобы под его сводами не звучала оперетта. Она – в генах Музыкального театра. Даже до того, как на Большую Дмитровку, 17 вселились студии Станиславского и Немировича-Данченко, здесь работал знаменитый в Москве Театр оперетты во главе с блистательным Григорием Яроном. А исторически первым спектаклем Музыкального театра стала «Дочь Анго» Лекока в постановке Немировича-Данченко.
          .text.text--inter20-16
            | На этот раз дирижер Уильям Лейси, режиссер Александр Титель и художник Владимир Арефьев решили сочинить спектакль, музыкальная партитура которого – своего рода пастиччо из произведений самых знаменитых авторов оперетт от середины XIX века до середины ХХ. А значит, будет звучать музыка Оффенбаха и Лекока, Кальмана и Легара, Штрауса-сына и Зуппе, Миллекера, Фримля, Досталя, Стрельникова, Абрахама – всех тех, кого именуют классиками жанра.
        .row.row--fd-c
          .perfom__inform-data-contein
            .col
              .title.title--inter60-30 05.12.
              .text.text--inter-defolt Вторник
            .title.title--inter30-18 20:00
          .col
            .text.text--inter-defolt Нина Тимофеева, Наталья Рыженко
            .col--mr
              .text.text--regal14-12-ital Продолжительность
              .text.text----inter20-16 1 час, без антракта
            .col
              .text.text--regal14-12-ital Место проведения
              .text.text----inter20-16 Сцена ДК им. Ленсовета 
  .perfom__picture
    .content
      .row.row--jc-sb
        .col
          .perfom__picture-slider-conteiner
            .swiper-wrapper
              .swiper-slide
                img(src="./images/index-slide.png", alt="")
              .swiper-slide
                img(src="./images/index-slide.png", alt="")
              .swiper-slide
                img(src="./images/index-slide.png", alt="")
        .col--345
          .row.row--sb-center
            .perfom__picture-pagination
            +slider-btn()

  .perfom__role
    .content 
      .perfom__role-conteiner
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
        .perfom__role-item
          .perfom__role-title Туган Сохиев
            .text.text--inter-defolt.text--lilac Дирижер-постановщик
  .perfom__composition
    .content 
      .title.title--section-tas Состав исполнителей
      .perfom__composition-conteiner
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
        .perfom__composition-item
          img(src="./images/piople-role.png", alt="")
          .perfom__role-title Туган Сохиев
  .perfom__where
    .content
      .title.title--section-tas Где купить билеты
      .perfom__where-conteiner
        .perfom__where-item
          .row.row--jc-sb
            .col--mw540
              .title.title--regal40-20 Театр оперы и балета Севастополь
            .col--mw340
              .text.text--inter-defolt г. Севастополь, пр. Адмирала Нахимова, 6 
              .text.text--inter-defolt (8692) 54-36-09
              .text.text--inter-defolt sevardt@sev.gov.ru
          +lilac-btn-180('Купить билеты')
        .perfom__where-item
          .row.row--jc-sb
            .col--mw540
              .title.title--regal40-20 Театр оперы и балета Севастополь
            .col--mw340
              .text.text--inter-defolt г. Севастополь, пр. Адмирала Нахимова, 6 
              .text.text--inter-defolt (8692) 54-36-09
              .text.text--inter-defolt sevardt@sev.gov.ru
          +lilac-btn-180('Купить билеты')
        .perfom__where-item
          .row.row--jc-sb
            .col--mw540
              .title.title--regal40-20 Театр оперы и балета Севастополь
            .col--mw340
              .text.text--inter-defolt г. Севастополь, пр. Адмирала Нахимова, 6 
              .text.text--inter-defolt (8692) 54-36-09
              .text.text--inter-defolt sevardt@sev.gov.ru
          +lilac-btn-180('Купить билеты')


block footer
  include ../modules/footer