extends ../layouts/default.pug

block variables
 -var pageTitle='Результаты поиска'

block header
  include ../modules/header

block content

  .search__block
    .content
      .title.title--page(data-aos='fade-up') Результаты поиска
      .row.row-mrg
        input(type='text', placeholder='Поиск', name='s').search__block-input
        +lilac-btn-180('Поиск')
      .col
        .title.title--inter24-16 Найдено результатов:
          span  4
      .search__block-conteiner
        .search__block-item(data-aos='fade-up')
          a(href="#").title.title--regsl30-20 Осуждение Фауста
          .text.text--inter-defolt В столетней истории Музыкального театра не было десятилетия, чтобы под его сводами не звучала оперетта. Она – в генах Музыкального театра. Даже до того, как на Большую Дмитровку, 17 вселились студии Станиславского и Немировича-Данченко, здесь работал знаменитый в Москве Театр оперетты во главе с блистательным Григорием Яроном. А исторически первым спектаклем Музыкального театра стала «Дочь Анго» Лекока в постановке Немировича-Данченко.
        .search__block-item(data-aos='fade-up')
          a(href="#").title.title--regsl30-20 Осуждение Фауста
          .text.text--inter-defolt В столетней истории Музыкального театра не было десятилетия, чтобы под его сводами не звучала оперетта. Она – в генах Музыкального театра. Даже до того, как на Большую Дмитровку, 17 вселились студии Станиславского и Немировича-Данченко, здесь работал знаменитый в Москве Театр оперетты во главе с блистательным Григорием Яроном. А исторически первым спектаклем Музыкального театра стала «Дочь Анго» Лекока в постановке Немировича-Данченко.
        .search__block-item(data-aos='fade-up')
          a(href="#").title.title--regsl30-20 Осуждение Фауста
          .text.text--inter-defolt В столетней истории Музыкального театра не было десятилетия, чтобы под его сводами не звучала оперетта. Она – в генах Музыкального театра. Даже до того, как на Большую Дмитровку, 17 вселились студии Станиславского и Немировича-Данченко, здесь работал знаменитый в Москве Театр оперетты во главе с блистательным Григорием Яроном. А исторически первым спектаклем Музыкального театра стала «Дочь Анго» Лекока в постановке Немировича-Данченко.
        .search__block-item(data-aos='fade-up')
          a(href="#").title.title--regsl30-20 Осуждение Фауста
          .text.text--inter-defolt В столетней истории Музыкального театра не было десятилетия, чтобы под его сводами не звучала оперетта. Она – в генах Музыкального театра. Даже до того, как на Большую Дмитровку, 17 вселились студии Станиславского и Немировича-Данченко, здесь работал знаменитый в Москве Театр оперетты во главе с блистательным Григорием Яроном. А исторически первым спектаклем Музыкального театра стала «Дочь Анго» Лекока в постановке Немировича-Данченко.

block footer
  include ../modules/footer