.row {
  display: flex;

  &--jc-sb {
    justify-content: space-between;
  }

  &--jc-c {
    justify-content: center;
    flex-shrink: 0;
    width: 90%;
  }

  &--fd-rr {
    flex-direction: row-reverse;
  }

  &--fd-c {
    flex-direction: column;
  }

  &--aln-i {
    display: flex;
    align-items: flex-end;
  }

  &--sb-center {
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &--mx-w--350 {
    max-width: 350px;
    width: 100%;
    @media (max-width: 1390px) {
      max-width: 307px;
    }
  }
  &--hg--80 {
    height: 80px;
    // @media (max-width: 1390px) {
    //   height: 40px;
    // }
  }
  &--none {
    @media (max-width: 1150px){
      display: none;
    }
  }
  &--wdth-170 {
    width: 170px;
    height: 100px;
  }
}