.text {

  &--inter-defolt {
    font-family: $font-main;
    font-size: 16px;
    line-height: 180%;
    @media (max-width: 1100px) {
      font-size: 14px; 
    }
  }

  &--regal16-14-ital {
    font-family: $font-third;
    font-style: italic;
    font-size: 16px;
    line-height: 180%;
    @media (max-width: 1100px) {
      font-size: 16px; 
    }
  }

  &--regal40-20 {
    font-family: $font-second;
    font-size: 40px;
    line-height: 130%;
    @media (max-width: 1490px) {
      font-size: 30px; 
    }
    @media (max-width: 1100px) {
      font-size: 20px; 
    }
  }
  &--regal40-20-ital {
    font-family: $font-third;
    font-size: 40px;
    line-height: 130%;
    font-style: italic;
    @media (max-width: 1490px) {
      font-size: 30px; 
    }
    @media (max-width: 1100px) {
      font-size: 20px; 
    }
  }

  &--lilac {
    color: $lilac;
  }

  &--inter20-16 {
    font-family: $font-main;
    font-size: 20px;
    line-height: 160%;
    @media (max-width: 1024px){
      font-size: 16px;
    }
  }
  &--regal20-16 {
    font-family: $font-second;
    font-size: 20px;
    line-height: 130%;
    @media (max-width: 1024px){
      font-size: 16px;
    }
  }
  &--regal24-14 {
    font-family: $font-third;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    @media (max-width: 1360px) {
      font-size: 22px;
    }
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  &--inter16-12 {
    font-family: $font-main;
    font-size: 16px;
    line-height: 160%;
    @media (max-width: 1360px){
      font-size: 14px;
    }
    @media (max-width: 1024px){
      font-size: 12px;
    }
  }

  &--regal14-12-ital{
    font-family: $font-third;
    font-style: italic;
    font-size: 14px;
    line-height: 160%;
    @media (max-width: 1024px){
      font-size: 12px;
    }
  }

}