.text {

  &--inter-defolt {
    font-family: $font-main;
    font-size: 16px;
    line-height: 180%;
    @media (max-width: 1100px) {
      font-size: 14px; 
    }
  }

  &--regal18-14-ital {
    font-family: $font-third;
    font-style: italic;
    font-size: 18px;
    line-height: 180%;
    @media (max-width: 1100px) {
      font-size: 16px; 
    }
  }

  &--regal60-20 {
    font-family: $font-second;
    font-size: 60px;
    line-height: 130%;
    @media (max-width: 1490px) {
      font-size: 40px; 
    }
    @media (max-width: 1100px) {
      font-size: 20px; 
    }
  }
  &--regal60-20-ital {
    font-family: $font-third;
    font-size: 60px;
    line-height: 130%;
    font-style: italic;
    @media (max-width: 1490px) {
      font-size: 40px; 
    }
    @media (max-width: 1100px) {
      font-size: 20px; 
    }
  }

  &--lilac {
    color: $lilac;
  }
}