.title {

  &--regsl30-20 {
    font-family: $font-second;
    font-size: 30px;
    line-height: 130%;
    @media (max-width:1100px){
      font-size: 20px;
    }
  }

  &--regal40-20 {
    font-family: $font-second;
    font-size: 40px;
    line-height: 130%;
    @media (max-width: 1280px){
      font-size: 30px;
    }
    @media (max-width: 1050px){
      font-size: 20px;
    }
  }

  &--nomber {
    font-family: $font-second;
    font-size: 150px;
    line-height: 130%;
    color: $lilac;
    @media (max-width: 1280px){
      font-size: 130px;
    }
    @media (max-width: 1050px){
      font-size: 70px;
    }
  }

  &--lilac {
    color: $lilac;
  }

  &--section {
    font-family: $font-second;
    font-size: 90px;
    line-height: 1;
    width: 100%;
    text-align: center;
    @media (max-width: 1280px){
      font-size: 70px;
    }
    @media (max-width: 1024px){
      font-size: 50px;
    }
    @media (max-width: 768px){
      font-size: 30px;
      text-align: left;
    }
  }

  &--section-tas {
    font-family: $font-second;
    font-size: 90px;
    line-height: 1;
    width: 100%;
    text-align: start;
    @media (max-width: 1280px){
      font-size: 70px;
    }
    @media (max-width: 1024px){
      font-size: 50px;
    }
    @media (max-width: 768px){
      font-size: 30px;
      text-align: left;
    }
  }

  &--date {
    font-family: $font-main;
    font-size: 90px;
    line-height: 100%;
    @media (max-width: 1330px){
      font-size: 70px;
    }
    @media (max-width: 950px){
      font-size: 30px;
    }
  }

  &--inter30-18 {
    font-family: $font-main;
    font-size: 30px;
    line-height: 160%;
    @media (max-width: 1280px){
      font-size: 24px;
    }
    @media (max-width: 950px){
      font-size: 18px;
    }
  }

  &--inter30-16 {
    font-family: $font-main;
    font-size: 30px;
    line-height: 110%;
    @media (max-width: 1280px){
      font-size: 23px;
    }
    @media (max-width: 768px){
      font-size: 16px;
    }
  }

  &--inter60-30 {
    font-family: $font-main;
    font-size: 60px;
    line-height: 160%;
    @media (max-width: 1360px){
      font-size: 45px;
    }
    @media (max-width: 1024px){
      font-size: 30px;
    }
  }

  &--age {
    font-family: $font-second;
    font-size: 90px;
    line-height: 100%;
    color: #DED8BF;
  }

  &--page {
    font-family: $font-second;
    font-size: 90px;
    line-height: 100%;
  }

}