.perfom {

  &__inform {
    padding-top: 265px;
    padding-bottom: 64px;
    @media (max-width:1360px) {
      padding-top: 180px;
    }
    @media (max-width:1024px) {
      padding-top: 95px;
    }

    .row--jc-sb {
      margin-bottom: 80px;
    }
    .col--mw-1080 {
      max-width: 1080px;
      .text {
        margin-bottom: 20px;
      }
    }

    &-data-contein {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 0 140px 20px 40px;
      border-radius: 10px;
      margin-bottom: 40px;
  
      .text--inter-defolt {
        margin-top: -25px;
      }
    }
  
    .col--mr {
      margin: 20px 0;
    }

    .row--fd-c {
      margin-left: 50px;
    }

    .jcb-mob {
      @media (max-width: 1024px){
        flex-direction: column-reverse;
        .row--fd-c {
          margin-left: 0;
          flex-direction: row;
        }
        .perfom__inform-data-contein {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 50%;
          margin: 0 60px 110px 0;
          .text--inter-defolt {
            margin-top: -10px;
          }
        }
      }
      @media (max-width: 768px){
        .row--fd-c {
          flex-direction: column;
          margin-bottom: 40px;
        }
        .perfom__inform-data-contein {
          width: 100%;
          margin: 0 0 40px;
          padding-right: 100px;
        }
      }
    }
  }

  &__picture {
    margin-top: 20px;
    @media (max-width: 1024px){
      display: none;
    }

    &-slider-conteiner {
      max-width: 1155px;
      overflow: hidden;
      .swiper-slide {
        border-radius: 10px;
        img {
          width: 100%;
        }
      }
    }

    .col--345 {
      width: 100%;
      max-width: 345px;
      margin-left: 40px;
      @media (max-width: 1450px){
        max-width: 270px;
      }
    }
  }

  &__role {
    margin-top: 160px;
    @media (max-width:1360px) {
      margin-top: 120px;
    }
    @media (max-width:1024px) {
      margin-top: 80px;
    }

    &-conteiner {
      display: flex;
      flex-wrap: wrap;
      padding: 80px 0 20px 80px;
      background-color: white;
      border-radius: 10px;
      @media (max-width: 1124px){
        padding: 60px 0 20px 60px;
      }
      @media (max-width: 850px){
        padding: 40px 0 0 40px;
      }
      @media (max-width: 550px){
        padding: 20px 0 20px 20px;
      }
    }

    &-item {
      width: calc(100% / 4);
      padding-bottom: 60px;
      @media (max-width: 1124px){
        width: calc(100% / 3);
      }
      @media (max-width: 850px){
        width: calc(100% / 2);
        padding-bottom: 40px;
      }
      @media (max-width: 550px){
        width: 100%;
      }
    }

    &-title {
      font-family: $font-second;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 10px;
      @media (max-width: 1280px){
        font-size: 20px;
      }
      @media (max-width: 768px){
        font-size: 18px;
      }
    }
  }

  &__composition {
    margin-top: 160px;
    @media (max-width:1360px) {
      margin-top: 120px;
    }
    @media (max-width:1024px) {
      margin-top: 80px;
    }

    &-conteiner {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;

      & .perfom__composition-item:nth-of-type(4n) {
        margin-right: 0;
      }
      @media (max-width: 870px){
        & .perfom__composition-item:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }
    
    &-item {
      width: calc((100% - 180px) /4);
      padding-bottom: 80px;
      margin-right: 60px;
      @media (max-width: 1124px){
        width: calc((100% - 120px) /4);
        margin-right: 40px;
        padding-bottom: 60px;
      }
      @media (max-width: 870px){
        width: calc((100% - 40px) /2);
        padding-bottom: 40px;
      }
      // @media (max-width: 550px){
      //   width: 100%;
      // }

      .img-contein {
        position: relative;
        max-width: 345px;
        width: 100%;
        height: 390px;
        margin-bottom: 20px;
        overflow: hidden;
        
        .second {
          transform: translateX(100%);
          transition: all $ease-main; 
        }
        .first {
          transition: all $ease-main; 
        }

        &:hover {
          .first {
            transform: translateX(-100%);
          }
          .second {
            transform: translateX(0);
          }
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 345px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
  }

  &__where {
    margin-top: 83px;
    @media (max-width:1360px) {
      margin-top: 120px;
    }
    @media (max-width:1024px) {
      margin-top: 40px;
    }

    &-conteiner {
      margin-top: 80px;
      padding: 0 80px;
      background-color: white;
      border-radius: 10px;
      @media (max-width:1124px){
        padding: 0 60px;
      }
      @media (max-width:870px){
        padding: 0 40px;
      }
      @media (max-width:550px){
        padding: 0 20px;
      }
      & .perfom__where-item:nth-of-type(even) {
        border-bottom: 1px solid #D1DFF1;
        border-top: 1px solid #D1DFF1;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0;
      .row--jc-sb {
        width: 76%;
        @media (max-width: 1100px){
          flex-direction: column;
          // .text {
          //   white-space: nowrap;
          // }
          .col--mw540 {
            max-width: 100%;
            margin-bottom: 20px;
          }
        }
        // @media (max-width: 900px) {

        // }
      }
      @media (max-width:1124px){
        padding: 40px 0;
      }
      @media (max-width:768px){
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
      }
    }
    .col--mw540 {
      max-width: 540px;
      @media (max-width: 1410px){
        max-width: 450px;
      }
    }
    .col--mw340 {
      max-width: 340px;
    }
    .lilac-btn {
      width: 212px;
      white-space: nowrap;
      @media (max-width: 1100px){
        align-self: flex-end;
      }
      @media (max-width:768px){
        width: 100%;
        margin-top: 20px;
      }
    }

  }
}